@layer reset, normalize, tailwind-base, tailwind-utilities;
@import '@unocss/reset/tailwind.css' layer(reset);
@import './palette.css';
@import './shadcn.css';

html {
  --at-apply: 'bg-surface-0 text-surface-600 transition-background-color duration-500';
}

html.dark {
  --at-apply: 'bg-surface-900 text-surface-200';
}

pre,
code {
  --at-apply: 'font-mono';
}
